.foods-list {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

    margin: 0 -16px;

    .food-item {
        float: left;
        cursor: pointer;
        position: relative;
        color: #fff;
        width: 350px;
        margin: 0 20px 30px 20px;

        img {
            width: 100%;
        }

        .tip-box {
            -webkit-transition: background 0.35s;
            transition: background 0.35s;
            position: absolute;
            background: rgba(0, 0, 0, 0);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            h4 {
                -webkit-transition: -webkit-transform 0.35s;
                transition: transform 0.35s;
                text-align: right;
                font-size: 2em;
                margin: 40px 20px 0 20px;

                &:after {
                    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                    transition: opacity 0.35s, transform 0.35s;
                    opacity: 0;
                    content: '';
                    background: rgba(255, 255, 255, 0.7);
                    height: 2px;
                    width: 100%;
                    display: block;
                    margin-top: 30px;
                }
            }

            p {
                margin: 0;
                padding: 0;
            }

            .description {
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
                opacity: 0;
                -webkit-transform: translate3d(0,40px,0);
                transform: translate3d(0,40px,0);
                position: absolute;
                bottom: 20px;
                right: 20px;
                left: 20px;
                text-align: right;

                .price {
                    font-size: 2em;
                }
            }
        }

        &:hover .tip-box {
            background: rgba(0, 0, 0, 0.3);
            h4 {
                -webkit-transform: translate3d(0,-10px,0);
                transform: translate3d(0,-10px,0);

                &:after {
                    opacity: 1;
                    -webkit-transform: translate3d(0,-20px,0);
                    transform: translate3d(0,-20px,0);
                }
            }

            .description {
                opacity: 1;
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
            }
        }
    }
}

.opened .foods-list {
    -webkit-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
    opacity: 0;
}

.open-food {
    -webkit-transition: opacity 0.35s 0.2s, -webkit-transform 0.35s 0.2s;
    transition: opacity 0.35s 0.2s, transform 0.35s 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    opacity: 0;

    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2000;
    background: #fff;

    .close-food {
        cursor: pointer;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        position: absolute;
        background: #666;
        color: #fff;
        top: 0;
        right: 0;
        z-index: 2000;

        i {
            -webkit-transition: -webkit-transform 0.35s 0.2s;
            transition: transform 0.35s 0.2s;
        }
    }

    .close-food:hover {
        i {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
        }
    }

    .food-detail {
        -webkit-transition: opacity 0.35s 0.2s, -webkit-transform 0.35s 0.2s;
        transition: opacity 0.35s 0.2s, transform 0.35s 0.2s;
        -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        color: #444;
        width: 300px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background: #fff;
        padding: 0 20px;

        .user {
            text-align: center;
            border-bottom: 1px solid #eee;
            padding: 20px 0;
            margin-bottom: 30px;

            img {
                width: 40px;
                height: 40px;
                border-radius: 200%;
                margin-bottom: 10px;
            }
        }

        .price {
            margin-bottom: 20px;
            font-size: 30px;
            color: #ff9900;
            button {
                -webkit-transition: all 0.35s;
                transition: all 0.35s;
                margin-left: 10px;
                background: #ff9900;
                box-shadow: none;

                &:hover {
                    background: #ffba00;
                    border: 1px solid #ffa800;
                }
            }

            a {
                font-size: 16px;
            }
        }

        h4 {
            margin-bottom: 20px;
        }

        p {
            label {
                color: #999;
                font-weight: normal;
                margin-right: 10px;
            }
        }
    }

    .food-image {
        margin-right: 300px;
        height: 100%;
        background-size: cover;
        background-position: center;
    }


    .open-order {
        -webkit-transition: opacity 0.35s 0.2s, -webkit-transform 0.35s 0.2s;
        transition: opacity 0.35s 0.2s, transform 0.35s 0.2s;
        -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        -webkit-transform: translate3d(300px,0,0);
        transform: translate3d(300px,0,0);
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        width: 300px;
        height: 100%;
        background: #fff;
        padding: 0 40px;

        form {
            h4 {
                margin: 15px -15px 10px -15px;
                padding-bottom: 15px;
                border-bottom: 1px solid #eee;
            }
        }
    }
}


.opened .open-food {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
}

.opened-order .open-order {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
}

.opened-order .open-food .food-detail {
    -webkit-transform: translate3d(300px,0,0);
    transform: translate3d(300px,0,0);
    opacity: 0;
}