<section class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-4">
        <form name="vm.userForm" ng-submit="vm.updateUserProfile(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
            <fieldset>
                <div class="form-group" show-errors>
                    <label for="displayName">昵称</label>
                    <input type="text" id="displayName" name="displayName" class="form-control" ng-model="vm.user.displayName" placeholder="昵称" required>
                    <div ng-messages="vm.userForm.lastName.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">请输入昵称</p>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="email">邮箱</label>
                    <input type="email" id="email" name="email" class="form-control" ng-model="vm.user.email" placeholder="Email" lowercase required>
                    <div ng-messages="vm.userForm.email.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">请输入邮箱</p>
                        <p class="help-block error-text" ng-message="email">邮箱格式不正确</p>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="username">用户名</label>
                    <input type="text" id="username" name="username" class="form-control" ng-model="vm.user.username" placeholder="Username" lowercase required>
                    <div ng-messages="vm.userForm.username.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">请输入用户名</p>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
                <div ng-show="vm.success" class="text-success">
                    <strong>资料修改成功</strong>
                </div>
                <div ng-show="vm.error" class="text-center text-danger">
                    <strong ng-bind="vm.error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
