<section>
    <div class="page-header">
        <h1>用户</h1>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>用户名</th>
                <th>昵称</th>
                <th>邮箱</th>
                <th>创建时间</th>
                <th>角色</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in vm.users">
                <td>{{user.username}}</td>
                <td>{{user.displayName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.created | date:'yyyy-MM-dd HH:mm'}}</td>
                <td ng-bind="user.roles"></td>
                <td>
                    <a class="btn btn-default btn-xs" ui-sref="admin.user-edit({userId: user._id})"><i class="fa fa-cog"></i> 编辑</a>
                    <button ng-click="vm.deleteUser(user)" class="btn btn-default btn-xs"><i class="fa fa-times"></i> 删除</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>
