<section ng-class="{'opened': vm.opened, 'opened-order': vm.openedOrder}">
    <div class="foods-list">
        <div data-ng-repeat="food in vm.foods" ng-click="vm.open(food._id)" class="food-item">
            <img ng-src="{{food.thumbnailURL}}" />
            <div class="tip-box">
                <h4>{{food.name}}</h4>
                <div class="description">
                    <p class="price">¥ {{food.price}}</p>
                    <p>{{food.shortDesc}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="open-food" ng-if="vm.openedFood">
        <div class="close-food" ng-click="vm.close()"><i class="fa fa-times"></i></div>

        <div class="food-detail">
            <div class="user">
                <img src="{{vm.openedFood.user.profileImageURL}}" />
                <div>{{vm.openedFood.user.displayName}}</div>
            </div>
            <h4>{{vm.openedFood.name}}</h4>
            <div class="price">¥ {{vm.openedFood.price}} <button ng-show="vm.authentication.user" class="btn btn-warning" ng-click="vm.openOrder()">下订单</button><a ng-show="!vm.authentication.user" ui-sref="authentication.signin">登录后订餐</a></div>
            <p><label>菜系: </label>{{vm.openedFood.category}}</p>
            <p><label>食材: </label>{{vm.openedFood.material}}</p>
            <p><label>保存方式: </label>{{vm.openedFood.temperature}}</p>
            <p>{{vm.openedFood.desc}}</p>
        </div>
        <div class="food-image" style="background-image: url({{vm.openedFood.imageURL}});"> </div>

        <div class="open-order">
            <form ng-if="!vm.ordered" name="vm.form.ordeForm" class="form-horizontal" ng-submit="vm.saveOrder(vm.form.ordeForm.$valid)" novalidate>
                <fieldset>
                    <h4>下订单</h4>
                    <div class="form-group" show-errors>
                        <label class="control-label" for="quantity">份数</label>
                        <input name="quantity" type="number" ng-model="vm.order.quantity" id="quantity" class="form-control" placeholder="份数" required>
                        <div ng-messages="vm.form.foodForm.quantity.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">请输入份数</p>
                        </div>
                    </div>
                    <div class="form-group" show-errors>
                        <label class="control-label" for="tel">联系电话</label>
                        <input name="tel" type="text" ng-model="vm.order.tel" id="tel" class="form-control" placeholder="联系电话" required>
                        <div ng-messages="vm.form.foodForm.tel.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">请输入联系电话</p>
                        </div>
                    </div>
                    <div class="form-group" show-errors>
                        <label class="control-label" for="address">地址</label>
                        <textarea name="address" type="text" ng-model="vm.order.address" id="address" class="form-control" placeholder="地址" required></textarea>
                        <div ng-messages="vm.form.foodForm.address.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">请输入地址</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="note">留言</label>
                        <textarea name="note" type="text" ng-model="vm.order.note" id="note" class="form-control" placeholder="给大厨留给言，比如咸淡、辣程度。"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">下单</button>
                    </div>
                    <div ng-show="vm.error" class="text-danger">
                        <strong ng-bind="vm.error"></strong>
                    </div>
                </fieldset>
            </form>
            <div class="success-order" ng-if="vm.ordered">
                <h4>您已成功下单！</h4>
                <p>大厨正准备为您烹饪，请耐心等待，快递小哥马上为您端上热菜！</p>
                <button class="btn btn-default" ng-click="vm.close()">我再逛逛</button>
            </div>
        </div>
    </div>

    
</section>