<section>
    <div class="foods-list">
        <div data-ng-repeat="food in vm.foods" ng-click="vm.open(food._id)" class="food-item">
            <img ng-src="{{food.thumbnailURL}}" />
            <div class="tip-box">
                <h4>{{food.name}}</h4>
                <div class="description">
                    <p class="price">¥ {{food.price}}</p>
                    <p>{{food.shortDesc}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="open-food">
        <div class="food-detail">
            {{vm.openedFood.category}}
            {{vm.openedFood.material}}
            {{vm.openedFood.desc}}
        </div>
        <div class="food-image">
            <img ng-src="{{vm.openedFood.imageURL}}" />
        </div>
    </div>
</section>